name: Compatibility check

on:
  push:
    branches:
      - '*'
      - '**/*'
      - 'master'

jobs:
  build:
    strategy:
      fail-fast: false
      # Build for three operating systems, currently JVMs 17,21 and latest three Camunda versions (last two years)
      matrix:
        os:
          - 'ubuntu-latest'
          - 'windows-latest'
          - 'macos-latest'
        jdk:
          - '17'
          - '21'
        cibseven-version:
          - '1.1.0' # 2024

    runs-on: ${{ matrix.os }}
    steps:
      - name: Set git core.longpaths flag 
        run: git config --global core.longpaths true

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache .m2
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.jdk }}

      - name: Prepare Maven Wrapper
        run: chmod +x ./mvnw

      - name: Install BOM
        run: ./mvnw install -N; ./mvnw install -f bom

      - name: Check for valid cibseven profile
        run: ./mvnw enforcer:enforce -f regression-tests -Drules=requireProfileIdsExist "-Pcibseven-bpm-engine-${{ matrix.cibseven-version }}"

      - name: Build with Maven
        run: ./mvnw clean verify -U -B -T4 "-Pregression-test" "-Pcibseven-bpm-engine-${{ matrix.cibseven-version }}" -DskipExamples -DskipPlugins
